In [23]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn import preprocessing
from sklearn.ensemble import VotingClassifier
from imblearn.under_sampling import RandomUnderSampler

In [24]:
# IMPORT DATA
tourney_data = pd.read_csv("./TourneyStatsAndSeeds.csv")
tourney_data.head()
tourney_data.columns

Index(['Season', 'WTeamID', 'LTeamID', 'WSeed', 'LSeed', 'WW', 'WL', 'WScore',
       'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst',
       'WTO', 'WStl', 'WBlk', 'WPF', 'LW', 'LL', 'LScore', 'LFGM', 'LFGA',
       'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl',
       'LBlk', 'LPF'],
      dtype='object')

In [25]:
# CREATE COLUMN FOR DIFFERENCE IN SEEDING
seed_diff = np.array(tourney_data['WSeed'] - tourney_data['LSeed'])
tourney_data['seed_diff'] = seed_diff
tourney_data.head()

,Season,WTeamID,LTeamID,WSeed,LSeed,WW,WL,WScore,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,seed_diff
0,2003,1421,1411,16,16,13,16,71.206897,24.379310,56.793103,...,17.400000,28.066667,13.166667,24.800000,14.200000,15.233333,6.433333,2.233333,18.300000,0
1,2003,1112,1436,1,16,25,3,85.214286,30.321429,65.714286,...,12.862069,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,-15
2,2003,1112,1211,1,9,25,3,85.214286,30.321429,65.714286,...,17.774194,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,-8
3,2003,1112,1323,1,5,25,3,85.214286,30.321429,65.714286,...,17.354839,22.838710,11.387097,26.870968,16.903226,12.774194,7.451613,5.645161,16.225806,-4
4,2003,1113,1272,10,7,18,11,75.965517,27.206897,56.896552,...,14.965517,22.896552,14.068966,25.965517,16.620690,13.793103,7.379310,5.068966,18.758621,3

In [26]:
# FILTER OUT GAMES WHERE DIFFERENCE WAS NOT AT LEAST 5
potential_upsets = tourney_data.loc[(tourney_data['seed_diff'] < -4) | (tourney_data['seed_diff'] > 4)]

In [27]:
# CREATE UPSET LABEL
upsets = potential_upsets.apply(lambda row: row['WSeed'] > row['LSeed'], axis=1)
potential_upsets['UPSET'] = upsets
potential_upsets.head()

/Users/natejenkins/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Season,WTeamID,LTeamID,WSeed,LSeed,WW,WL,WScore,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,seed_diff,UPSET
1,2003,1112,1436,1,16,25,3,85.214286,30.321429,65.714286,...,19.551724,12.965517,25.724138,14.206897,14.068966,6.862069,2.965517,15.896552,-15,False
2,2003,1112,1211,1,9,25,3,85.214286,30.321429,65.714286,...,24.645161,11.935484,25.322581,15.741935,14.548387,6.806452,3.516129,18.645161,-8,False
5,2003,1141,1166,11,6,23,6,79.344828,26.620690,52.689655,...,20.030303,10.878788,23.181818,16.818182,13.363636,8.393939,4.454545,17.272727,5,True
7,2003,1163,1140,5,12,21,9,80.033333,29.533333,62.200000,...,24.161290,10.870968,24.419355,13.419355,13.741935,6.935484,2.516129,21.419355,-7,False
9,2003,1181,1161,3,14,24,6,81.966667,27.366667,60.333333,...,24.266667,10.800000,23.466667,15.500000,16.133333,5.333333,4.233333,20.566667,-11,False

In [28]:
# RELABEL COLUMNS SO THAT HIGH SEED DATA FIRST THEN LOW SEED DATA. 
# FROM NOW ON W = HIGH SEED and L = LOW SEED
correctly_labeled = potential_upsets[potential_upsets.WSeed < potential_upsets.LSeed]
fix_labels = potential_upsets[potential_upsets.WSeed > potential_upsets.LSeed]
fix_labels.columns = ['Season', 'LTeamID', 'WTeamID', 'LSeed', 'WSeed', 'LW', 'LL', 'LScore',
       'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst',
       'LTO', 'LStl', 'LBlk', 'LPF', 'WW', 'WL', 'WScore', 'WFGM', 'WFGA',
       'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl',
       'WBlk', 'WPF', 'seed_diff', 'UPSET']

In [29]:
cleaned_data = pd.concat([correctly_labeled, fix_labels])
cleaned_data = cleaned_data[['Season', 'WTeamID', 'LTeamID', 'WSeed', 'LSeed', 'WW', 'WL', 'WScore',
       'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst',
       'WTO', 'WStl', 'WBlk', 'WPF', 'LW', 'LL', 'LScore', 'LFGM', 'LFGA',
       'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl',
       'LBlk', 'LPF', 'seed_diff', 'UPSET']]
cleaned_data.sample(n=5)

,Season,WTeamID,LTeamID,WSeed,LSeed,WW,WL,WScore,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,seed_diff,UPSET
894,2016,1332,1386,1,8,27,6,78.545455,27.303030,58.878788,...,22.617647,10.147059,28.441176,15.117647,10.117647,5.147059,3.382353,16.029412,-7,False
28,2003,1390,1360,4,13,23,8,72.258065,25.645161,58.032258,...,26.321429,11.535714,26.357143,16.392857,18.178571,5.392857,3.428571,20.142857,-9,False
189,2005,1458,1320,6,11,22,8,67.166667,23.200000,53.066667,...,17.866667,8.766667,24.566667,15.666667,11.666667,6.100000,4.333333,17.633333,-5,False
210,2006,1261,1401,4,12,22,8,74.766667,27.700000,58.266667,...,23.034483,10.379310,21.310345,16.758621,13.413793,8.655172,2.965517,21.586207,-8,False
528,2011,1163,1137,3,14,26,9,73.400000,26.000000,60.057143,...,18.727273,8.151515,25.969697,14.727273,11.363636,4.757576,3.181818,18.242424,-11,False

In [30]:
# PERCENTAGE OF GAMES WITH SEED DIFERENCE >=5 THAT RESULTED IN UPSET
potential_upsets.UPSET.mean()

0.21626297577854672

In [31]:
# DROP UNNECESSARY/BAD COLUMNS
saved_attributes = cleaned_data[['WTeamID', 'LTeamID','Season','WSeed', 'LSeed']]
potential_upsets = cleaned_data.drop(['WTeamID', 'LTeamID','Season','WSeed', 'LSeed', 'seed_diff'], axis= 1)
#saved_attributes = cleaned_data[['WTeamID', 'LTeamID','Season']]
#potential_upsets = cleaned_data.drop(['WTeamID', 'LTeamID','Season','seed_diff'], axis= 1)

In [32]:
# Sample .7
potential_upsets_train = potential_upsets.sample(frac=0.7)

# Remaining .3 for testing
potential_upsets_test = potential_upsets.loc[~potential_upsets.index.isin(potential_upsets_train.index)]

In [33]:
# UNDER SAMPLE SO THAT 50/50 UPSET VS NOT UPSET IN TRAINING DATA
x_col = potential_upsets_train.columns[:-1]
X = potential_upsets_train.iloc[:,:-1]
y = np.array(potential_upsets_train.iloc[:,-1:]['UPSET'])
rus = RandomUnderSampler(return_indices=True)
X_resampled, y_resampled, idx_resampled = rus.fit_sample(X, y)

In [34]:
under_sampled_data = pd.DataFrame(X_resampled, columns=x_col )
under_sampled_data['UPSET'] = y_resampled
under_sampled_data.head()

,WW,WL,WScore,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,UPSET
0,23.0,10.0,76.272727,26.424242,57.363636,9.939394,25.484848,13.484848,18.939394,11.454545,...,15.593750,23.750000,11.187500,24.937500,12.000000,14.812500,6.531250,4.750000,19.093750,False
1,24.0,6.0,71.166667,25.266667,56.533333,7.466667,18.966667,13.166667,18.600000,12.133333,...,18.033333,25.800000,12.966667,24.266667,10.266667,19.466667,8.000000,2.900000,20.733333,False
2,32.0,2.0,70.735294,24.382353,52.764706,6.852941,18.617647,15.117647,22.882353,11.676471,...,15.484848,22.727273,11.636364,23.666667,13.060606,12.000000,5.818182,2.606061,20.060606,False
3,24.0,5.0,78.413793,26.137931,57.241379,6.103448,17.724138,20.034483,26.620690,14.758621,...,18.333333,24.814815,14.000000,24.037037,14.037037,18.740741,10.703704,5.259259,19.518519,False
4,24.0,8.0,79.500000,28.656250,59.843750,5.750000,15.031250,16.437500,23.531250,12.625000,...,15.354839,20.354839,13.032258,26.741935,15.483871,14.645161,7.741935,2.645161,17.935484,False

In [35]:
# FIT MODEL TO UNDER SAMPLED DATA
model = LogisticRegression()
model.fit(X_resampled, y_resampled)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [36]:
# TEST MODEL ON UNDERSAMPLED DATA
def predict( train, test, feat_cols, label_col, model ):
    model.fit( train[feat_cols], train[label_col] )
    return model.score( test[feat_cols], test[label_col] )

accs = []
for i in range(10):
    train = under_sampled_data.sample( frac=.7 )
    test = under_sampled_data.drop( train.index )
    accs += [predict(train, test, x_col[:],['UPSET'], model )]
sum(accs) / len(accs)

/Users/natejenkins/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.53584905660377358

In [37]:
# TEST MODEL ON TRAIN SET
accs = []
for i in range(10):
    train = potential_upsets_train.sample( frac=.99 )
    test = potential_upsets_train.drop( train.index )
    accs += [predict(train, test, x_col[:],['UPSET'], model )]
sum(accs) / len(accs)

/Users/natejenkins/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.72499999999999998

In [38]:
# TEST MODEL ON TEST SET
(model.predict(X=potential_upsets_test.iloc[:,:-1]) == potential_upsets_test.iloc[:,-1]).mean()

0.75722543352601157

In [39]:
# ADD OUTPUT COLUMN TO DATASET
output = model.predict(X=potential_upsets.iloc[:,:-1])
potential_upsets['output'] = output

In [40]:
# ADD PROBABILITY OF UPSET TO DATAFRAME
probs = model.predict_proba(X=potential_upsets.iloc[:,:-2])
output_probs = [item[1] for item in probs]
potential_upsets['probability'] = output_probs

final_results = pd.concat([saved_attributes, potential_upsets], axis=1)

In [41]:
final_results = pd.concat([saved_attributes, potential_upsets], axis=1)

In [42]:
# SORT BY MOST LIKELY UPSETS
final_results.sort_values(by='probability', ascending= False)

,WTeamID,LTeamID,Season,WSeed,LSeed,WW,WL,WScore,WFGM,WFGA,...,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,UPSET,output,probability
63,1462,1407,2003,3,14,25,5,78.233333,26.800000,59.200000,...,15.066667,24.700000,15.066667,13.733333,9.533333,5.200000,16.600000,False,True,0.731853
841,1242,1455,2015,2,7,26,8,71.205882,24.176471,54.970588,...,11.612903,23.258065,13.645161,9.354839,7.064516,3.774194,16.612903,True,True,0.730888
933,1278,1292,2017,5,12,24,9,75.272727,26.151515,60.181818,...,9.696970,25.424242,15.030303,10.363636,6.939394,2.848485,18.272727,True,True,0.704766
849,1112,1455,2016,6,11,25,8,81.212121,28.060606,58.242424,...,11.612903,25.870968,14.322581,9.838710,7.258065,3.580645,20.225806,True,True,0.670489
551,1452,1155,2011,5,12,20,11,69.548387,23.677419,55.419355,...,11.468750,23.437500,12.906250,13.343750,8.031250,4.875000,18.375000,False,True,0.650940
812,1462,1209,2015,6,14,21,13,73.558824,26.029412,55.000000,...,9.375000,23.218750,13.218750,10.687500,8.906250,4.250000,18.437500,False,True,0.643182
453,1139,1293,2010,5,13,28,4,70.093750,22.718750,50.187500,...,12.000000,24.250000,15.187500,14.500000,9.281250,5.406250,17.468750,False,True,0.616824
499,1338,1324,2010,3,14,24,8,68.093750,23.562500,52.843750,...,13.593750,24.437500,12.875000,13.718750,6.406250,4.937500,17.937500,False,True,0.614583
465,1435,1293,2010,4,13,23,8,77.548387,26.064516,55.225806,...,12.000000,24.250000,15.187500,14.500000,9.281250,5.406250,17.468750,True,True,0.592641
936,1345,1436,2017,4,13,25,7,80.125000,27.937500,58.250000,...,9.181818,24.424242,13.242424,11.151515,5.575758,4.454545,16.090909,False,True,0.589905
940,1438,1423,2017,5,12,22,10,66.593750,24.906250,53.656250,...,11.812500,23.125000,15.656250,9.781250,6.500000,3.437500,19.875000,False,True,0.588173
827,1268,1434,2015,4,13,27,6,69.484848,22.454545,51.303030,...,11.333333,25.433333,12.366667,12.133333,5.633333,4.366667,16.633333,False,True,0.587451
258,1139,1330,2007,5,12,25,6,68.290323,21.806452,49.967742,...,12.125000,24.562500,14.968750,12.343750,7.625000,3.406250,18.718750,False,True,0.583674
880,1143,1218,2016,4,13,23,10,75.121212,26.272727,57.000000,...,10.433333,26.933333,15.633333,13.166667,7.733333,3.900000,20.466667,True,True,0.570477
545,1435,1350,2011,5,12,23,10,76.212121,25.000000,54.757576,...,9.058824,24.117647,14.970588,10.676471,6.117647,4.117647,16.088235,True,True,0.569289
746,1387,1301,2014,5,12,25,6,70.064516,24.290323,54.645161,...,11.941176,22.382353,12.941176,10.411765,4.764706,3.970588,18.705882,False,True,0.563778
590,1231,1433,2012,4,12,25,8,77.272727,25.969697,53.303030,...,12.382353,21.294118,12.235294,11.382353,10.617647,3.705882,18.147059,False,True,0.562070
761,1235,1300,2014,3,14,26,7,82.878788,29.272727,62.090909,...,11.451613,23.161290,14.096774,11.387097,7.677419,3.838710,20.096774,False,True,0.557259
570,1314,1449,2011,2,7,26,7,76.666667,27.909091,62.090909,...,14.030303,25.303030,17.151515,12.363636,6.727273,5.333333,20.272727,False,True,0.556645
945,1268,1462,2017,6,11,23,8,73.548387,25.096774,55.612903,...,12.205882,25.382353,14.852941,12.794118,6.147059,2.676471,18.764706,True,True,0.552728
244,1314,1293,2006,3,14,22,7,80.379310,28.206897,58.517241,...,12.965517,23.896552,16.000000,12.448276,7.896552,4.827586,18.448276,False,True,0.551853
108,1242,1412,2004,4,9,20,8,74.857143,26.928571,58.142857,...,12.344828,22.689655,17.586207,13.620690,11.758621,3.724138,20.931034,False,True,0.544757
245,1234,1322,2006,3,14,25,8,66.393939,23.121212,53.636364,...,13.068966,22.586207,16.655172,15.793103,8.827586,3.275862,20.896552,True,True,0.544178
176,1163,1301,2005,2,10,22,7,78.620690,27.965517,60.758621,...,11.093750,21.437500,15.312500,12.281250,7.062500,4.343750,18.843750,True,True,0.541942
374,1435,1373,2008,4,13,26,7,80.575758,27.363636,58.606061,...,11.718750,22.187500,14.500000,11.093750,9.437500,3.593750,15.437500,True,True,0.535827
717,1269,1397,2014,6,11,24,8,76.093750,27.250000,59.218750,...,13.718750,25.031250,12.093750,10.875000,5.187500,4.718750,17.187500,True,True,0.532490
313,1458,1424,2007,2,7,29,5,70.088235,24.235294,52.352941,...,12.060606,22.606061,14.848485,11.424242,8.151515,5.606061,17.969697,True,True,0.530218
706,1458,1279,2013,5,12,23,11,65.529412,23.764706,55.882353,...,13.088235,25.647059,12.588235,11.352941,8.411765,5.147059,16.941176,True,True,0.529182
446,1462,1340,2009,4,13,25,7,72.375000,24.343750,52.562500,...,11.806452,21.806452,15.161290,13.612903,7.548387,2.870968,16.677419,False,True,0.519564
768,1458,1246,2014,2,8,26,7,73.545455,24.212121,52.878788,...,14.647059,26.500000,11.500000,12.205882,4.764706,6.235294,19.000000,True,True,0.512987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,1437,1291,2017,1,16,31,3,77.676471,26.852941,54.029412,...,7.647059,22.617647,11.147059,13.147059,6.205882,4.000000,18.000000,False,False,0.042241
57,1400,1421,2003,1,16,22,6,78.857143,28.000000,62.428571,...,12.275862,23.172414,13.034483,16.206897,7.068966,3.000000,19.103448,False,False,0.041597
953,1242,1413,2017,1,16,28,4,82.718750,29.562500,60.718750,...,10.218750,25.218750,12.500000,14.187500,5.562500,3.500000,19.687500,False,False,0.041269
38,1246,1237,2003,1,16,29,3,77.531250,28.468750,58.406250,...,11.687500,20.906250,13.375000,15.906250,8.187500,1.812500,19.343750,False,False,0.040637
322,1242,1340,2008,1,16,30,3,81.181818,29.454545,58.363636,...,11.166667,22.433333,15.733333,14.666667,6.800000,3.366667,17.933333,False,False,0.040416
136,1228,1305,2005,1,9,32,1,77.424242,28.151515,57.606061,...,12.068966,27.310345,15.068966,14.586207,6.689655,5.172414,15.724138,False,False,0.040304
299,1272,1317,2007,2,15,30,3,79.575758,28.090909,60.878788,...,13.766667,25.200000,12.433333,15.466667,6.166667,4.400000,20.400000,False,False,0.040057
669,1276,1355,2013,4,13,25,7,74.375000,27.656250,57.562500,...,9.161290,24.774194,13.903226,10.548387,5.096774,2.193548,14.322581,False,False,0.037788
547,1361,1294,2011,2,15,30,2,71.031250,26.093750,57.000000,...,11.793103,23.793103,11.586207,14.482759,5.793103,1.896552,19.448276,False,False,0.037787
196,1181,1380,2006,1,16,30,3,82.515152,27.757576,56.151515,...,13.096774,25.709677,12.354839,17.580645,7.580645,3.806452,17.870968,False,False,0.036913
612,1393,1243,2012,1,8,31,2,74.575758,27.575758,59.212121,...,14.225806,23.032258,14.451613,14.483871,6.161290,4.806452,20.129032,False,False,0.036881
111,1280,1284,2004,2,15,25,3,77.107143,27.357143,58.500000,...,9.375000,24.000000,13.812500,13.406250,7.656250,2.625000,17.531250,False,False,0.036434
927,1211,1355,2017,1,16,32,1,84.575758,30.363636,58.636364,...,9.062500,25.687500,13.031250,12.843750,5.093750,2.250000,17.062500,False,False,0.033714
813,1181,1352,2015,1,16,29,4,80.606061,28.606061,56.969697,...,10.424242,23.000000,12.242424,13.757576,8.545455,2.939394,18.545455,False,False,0.031562
458,1242,1250,2010,1,16,32,2,81.764706,28.558824,58.470588,...,10.187500,26.312500,15.125000,13.000000,6.156250,2.531250,17.906250,False,False,0.030447
151,1448,1151,2005,2,15,26,5,84.709677,29.193548,59.258065,...,13.518519,27.074074,13.518519,17.407407,7.037037,2.000000,16.777778,False,False,0.030286
593,1246,1443,2012,1,16,32,2,76.676471,27.323529,56.588235,...,12.515152,23.393939,11.060606,15.030303,5.515152,4.090909,19.818182,False,False,0.030202
75,1181,1106,2004,1,16,27,5,79.750000,27.562500,58.468750,...,11.700000,22.766667,10.266667,17.200000,7.066667,3.133333,18.700000,False,False,0.026871
368,1314,1291,2008,1,16,32,2,88.705882,31.852941,66.029412,...,10.093750,23.937500,12.843750,14.375000,7.250000,3.656250,19.875000,False,False,0.026488
5,1166,1141,2003,6,11,29,4,79.242424,28.696970,57.454545,...,10.586207,23.275862,15.620690,18.241379,7.103448,4.000000,20.965517,True,False,0.025459
398,1314,1347,2009,1,16,27,4,89.387097,31.354839,65.967742,...,12.379310,29.137931,13.862069,16.517241,6.137931,4.379310,18.482759,False,False,0.024849
497,1326,1364,2010,2,15,27,7,74.235294,26.823529,54.058824,...,8.892857,23.857143,13.642857,15.500000,6.571429,3.142857,18.857143,False,False,0.024728
801,1323,1318,2015,3,14,29,5,78.823529,27.794118,54.500000,...,8.352941,24.794118,14.264706,13.735294,5.323529,3.794118,14.235294,False,False,0.023961
573,1326,1427,2011,1,16,32,2,77.088235,27.441176,55.588235,...,10.344828,24.068966,12.586207,13.482759,6.793103,2.379310,19.758621,False,False,0.023652
280,1417,1451,2007,2,15,25,5,71.966667,26.733333,55.633333,...,9.678571,22.964286,13.607143,15.821429,6.607143,2.500000,19.535714,False,False,0.021020
611,1393,1421,2012,1,16,31,2,74.575758,27.575758,59.212121,...,10.600000,22.733333,15.300000,13.500000,8.066667,2.233333,17.933333,False,False,0.019140
113,1329,1186,2004,2,15,26,3,78.206897,28.896552,56.344828,...,9.142857,21.178571,15.714286,15.214286,6.357143,1.500000,20.321429,False,False,0.016860
338,1417,1290,2008,1,16,30,3,74.030303,26.545455,55.818182,...,11.500000,21.533333,11.000000,14.366667,5.700000,2.666667,17.466667,False,False,0.014113
152,1449,1285,2005,1,16,26,5,86.225806,31.516129,65.096774,...,10.285714,25.714286,13.785714,17.000000,5.892857,3.107143,17.107143,False,False,0.013131
361,1272,1426,2008,1,16,33,1,79.676471,28.764706,61.764706,...,10.500000,27.250000,13.250000,17.392857,6.250000,2.464286,20.285714,False,False,0.012573

In [43]:
# FEATURE IMPORTANCE
x_col = np.array(x_col)
model.coef_
pd.DataFrame({'Attribute': x_col, 'Val': model.coef_[0]}).sort_values(by = 'Val')

   Attribute       Val
21     LFGM3 -0.408639
28       LTO -0.319150
13      WStl -0.287732
3       WFGM -0.226788
9        WOR -0.209042
20      LFGA -0.199324
2     WScore -0.145574
23      LFTM -0.043507
27      LAst -0.035556
0         WW -0.031664
24      LFTA -0.014548
14      WBlk -0.012702
18    LScore  0.001675
17        LL  0.010553
6      WFGA3  0.011032
15       WPF  0.012141
1         WL  0.015332
26       LDR  0.020135
10       WDR  0.036073
16        LW  0.049339
8       WFTA  0.064200
31       LPF  0.098271
5      WFGM3  0.114443
29      LStl  0.149143
30      LBlk  0.158275
4       WFGA  0.171669
12       WTO  0.191370
7       WFTM  0.193560
11      WAst  0.208713
19      LFGM  0.226911
22     LFGA3  0.249490
25       LOR  0.264965

In [44]:
final_results['output'].mean()

0.06228373702422145